* {
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
#top {
  background-color: #3b5998;
  height: 80px;
}
.container {
  width: 63%;
  margin: auto;
}
.form-input {
  display: block;
}
#top .first{
    margin: 0 13px 0 0;
}
.img-holder img {
  width: 33%;
  margin: 0px;
  cursor: pointer;
}
.header {
  display: flex;
}
.form-holder {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
}


#submit1 {
  margin-top: 18px;
  margin-left: 5px;
}
#mainpage {
  height: 100vh;
  background-color: #edf0f5;
}
.mainlabels {
  color: #fff;
  padding-bottom: 14px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
}
#top .second a {
  color: #9cb4d8;
  font-size: 14px;
}
#submit1 input {
  font-size: 12px;
  background-color: #4368b8;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border: 1px solid #59647c;
  height: 25px;
  width: 55px;
  line-height: 25px;
}
#submit1 input:hover {
  background-color: #3b5998;
}
.imgandtxtholder {
  display: flex;
}
.row {
  display: flex;
  width: 100%;
}
.row .col {
  width: 50%;
}
#mainpage .row .col.icon {
  padding-top: 41px;
}

.fb {
  padding: 42px 0px 24px;
  font-size: 28px;
  width: 381px;
}
#mainpage .txtholder {
  line-height: 50px;
  margin-left: 15px;
}

h2 {
  padding: 32px 0 7px;
  font-size: 42px;
  color: #333;
  font-weight: bold;
}
.txtholder span {
 color: #666;
}
 #mainpage .form-input{
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #bdc7d8;
    font-size: 18px;
}
.col .free{
    padding: 10px 0 15px 0;
}
.third{
    padding: 0px 0px 10px 0px;
}
#mainpage .fifthtitle {
    padding: 20px 0 10px 0;
    font-size: 21px;
}
.fifth{
    display: flex;

}
.fifth a{
    margin-left: 12px;
    font-size: 11px;
}
.sixth{
    margin:15px 0;

}
.sixth .two{
    margin-left: 42px;
}
.title p{
    color: #666;
    font-size: 11px;
    width: 300px;
}
  #mainpage .form-input.again {
        border-radius: 0px;
        padding: 3px 15px;
    }
    #submit{
        margin: 20px 0;
        
    }
    #submit input{
        width: 34%;
        padding: 10px 0;
        border-radius: 5px;
        border: 1px solid;
        background-color: #69a74e;
        color: #fff;
        font-wight: bold;
        font-weight: bold;
        font-size: 19px;
        border-color: #3b6e22;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #a4e388;
    }
    #submit input:hover{
        background-color:#73b855 ;
    }
    hr{
        display: inline-block;
        width: 100%;
        margin-bottom: 14px;
    }
    .titlebig p{
        color: #666;
        font-size: 14px;
        font-weight: bold;
    }
    .imgandtxtholder.new{
        padding: 41px 0px;
    }
